.gallery{
    margin: 30px 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
}

@media(max-width:1100px) {
    .gallery{
        grid-template-columns: repeat(5,1fr);
    }    
}

@media(max-width:996px) {
    .gallery{
        grid-template-columns: repeat(4,1fr);
    }    
}

@media(max-width:776px) {
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }    
}

@media(max-width:540px) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }    
}

/* сторінка послуги */
.narrow .gallery{
    margin: 30px 0;
    grid-template-columns: repeat(2,1fr);
}

@media(max-width:540px){
    .narrow .gallery{
        grid-template-columns: 1fr;
    }    
}

/* галерея збоку справа */
.images-text .images.block .gallery
{
    grid-template-columns: repeat(2,1fr);
}

@media(max-width:996px)
{
    .images-text .images.block .gallery
    {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .images-text .images.block .gallery img
    {
        margin: 0 0 20px;
    }
}