/* зліва фото, справа текст */
.images-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin: 100px 20px;
}

@media(max-width:776px) {
    .images-text{
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px) {
    .images-text{
        margin: 50px 20px;
    }
}

.images-text .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

@media(max-width:996px) {
    .images-text .images{
        grid-template-columns: 1fr;
    }
}

@media(max-width:776px) {
    .images-text .images{
        display: none;
    }
}

.images-text .images img{
    width: 900px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    transition: .5s;
}

.images-text .images.block{
    display: block;
}

@media(max-width:776px) {
    .images-text .images.block{
        display: none;
    }
}

.images-text .images.block img{
    margin: 0 0 30px;
}

.text-content{
    display: flex;
    flex-direction: column;
}

/* цитата */
blockquote{
    margin: 0 0 26px;
    font-style: italic;
    color: var(--cyan-light);
}

blockquote p{
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 5px solid var(--cyan-light);
    border-radius: 5px;
}

/* внутрішня сторінка */
#content .images-text
{
    margin: auto;
}

@media(max-width:996px)
{
    #content .images-text
    {
        width: 95%;
    }    
}