
.news-spoiler{
    padding: 100px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

.news-spoiler > .news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

.news-spoiler > .news article{
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
}

.news-spoiler > .news figure{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 20px;
}

.news-spoiler > .news article img{
    height: 160px;
    /* height: 100%; */
    object-fit: cover;
    object-position: center center;
}

.news-spoiler .news figcaption{
    /* background: var(--white); */
}

.news-spoiler > .news article h3{
    line-height: 1;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 20px
}

.news-spoiler > .news article h3 a{
    text-decoration: none;
    color: var(--cyan-dark);
    transition: .5s;
}

.news-spoiler > .news article h3 a:hover{
    color: var(--cyan)
}

/* пошук справа */
.news-spoiler .adds{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        'spoiler-news spoiler-category';
    grid-gap: 20px;
}

/* гарячі новини справа */
.news-spoiler .adds .news{
    grid-area: spoiler-news;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 20px;
}

.news-spoiler .adds .news article{
    background: var(--cyan);
    padding: 10px;
    border-radius: 5px;
}

.news-spoiler .adds .news article h4{
    text-transform: none;
    font-weight: 500;
    margin: 0 0 20px
}

.news-spoiler .adds .news article h4 a{
    text-decoration: none;
    color: var(--white);
    transition: .5s;
}

.news-spoiler .adds .news article h4 a:hover{
    /* color: var(--gray) */
}

.news-spoiler .adds .news article p{
    color: var(--white);
    margin: 0 0 10px;
}

.news-spoiler .adds .category{
    grid-area: spoiler-category;
}

.news-spoiler .adds .category h4{
    /* display: inline-block; */
    display: block;
    margin: 0;
    color: var(--black);
    padding: 10px;
    /* background: var(--white); */
    text-transform: none;
    font-weight: 500;
    border-radius: 5px;
}

.news-spoiler .adds .category h4 a{
    /* color: var(--cyan-light); */
    text-decoration: none;
    transition: .5s;
    display: flex;
    align-items: center;
}

.news-spoiler .adds .category h4 a:hover{
    color: var(--black)
}

.news-spoiler .adds .category svg{
    width: 22px;
    height: 22px;
    margin-right: 5px;

    fill: none;
    stroke: var(--cyan);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;

    transition: .5s
}

.news-spoiler .adds .category :hover svg{
    stroke: var(--black);
}

/* .news-spoiler .adds form{
    display: block;
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    background: var(--white);
    grid-area: spoiler-form;
}

.news-spoiler .adds input{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
} */
