
#page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    margin: 100px 20px;
}

@media(max-width:996px) {
    #page{
        grid-template-columns: 1fr;
    }

    #page .images{
        display: none;
    }
}