.partners{
    padding: 100px 20px;
    background: var(--gray-dark);
    text-align: center;
}

.partners h2{
    position: relative;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 40px;
}

.partners h2::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 4px;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -10px;
    background: var(--white);
    border-radius: 10px;
}

.partners .owl-carousel.grid-carousel{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}

.partners .item {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    padding: 10px;
    border-radius: 10px;
}

@media(max-width:450px) {
    .partners .item {
        min-height: 180px;
    }    
}