/* обнулення стилів */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root
{
    --cyan: #1e5c8a;
    --cyan-dark: #273c66;
    --cyan-light: #00adee;
    --cyan-ultralight: #f4f6f5;
    --red: #ed1c24;
    --black: #111;
    --gray-light: #e7e7e7;
    --gray: #afafaf;
    --gray-dark: #505050;
    --gray-ultradark: #1f1f1f;
    --white: #fff;
    --gold: #f4bf00;
}

body
{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background-attachment: fixed;
    font-weight: 500;
    background: var(--cyan-ultralight);
    color: var(--gray-dark);
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Rubik', sans-serif;
    color: var(--cyan-dark);
    margin: 0 0 26px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
}

h1
{
    font-size: 42px;
    margin: 0 0 50px;
    position: relative;
}

@media(max-width:776px)
{
    h1
    {
        font-size: 34px;
    }
}

h1::before
{
    content: '';
    display: inline-block;
    width: 60px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: var(--cyan);
    border-radius: 10px 0 10px 0;
}

h2
{
    font-size: 36px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 22px;
}

h5
{
    font-size: 16px;
}

img
{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 5px;
    height: auto;
}

::selection
{
    background: var(--cyan);
    color: var(--white);
}

strong
{
    font-weight: 700;
    color: var(--red);
}

a
{
    color: var(--cyan);
    text-decoration: underline;
}

a:hover
{
    color: var(--red);
    text-decoration: none;
}

p
{
    line-height: 1.6;
    margin: 0 0 26px;
    font-size: 16px;
}

.disabled
{
    /* спеціальний клас для елементів, в яких буде відключено анімацію */
    animation-delay: -99s!important;
}

/* назва сторінки */
#page-name
{
    /* min-height: 20vh; */
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: var(--white);
    padding: 20px;
    margin: 100px 0 0;
    text-align: center;
    position: relative;
}

/* @media(max-width:776px) {
    #page-name{
        min-height: 260px;
    }
} */

#page-name.cover
{
    background-size: cover!important;
    background-position: center!important;
}

/* тінь */
#page-name.cover::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
}

#page-name h1
{
    color: var(--cyan);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 42px;
    position: relative;
    margin: 0 0 30px;
}

@media(max-width:776px)
{
    #page-name h1
    {
        font-size: 30px;
    }
}

#page-name h1::before
{
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -10px;
    width: 60px;
    height: 5px;
    background: var(--cyan);
    border-radius: 0 10px 0 10px;
}

#page-name.cover h1
{
    color: var(--white);
    z-index: 2;
}

#page-name.cover h1::before
{
    background: var(--white);
}

.social
{
    margin: 30px 0;
    text-align: center;
}

/* @media(max-width:776px) {
    .social{
        margin: 0;        
    }    
} */

.picture
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
    padding-top: 100%;
}

.picture picture
{
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picture picture img
{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}

.social a
{
    text-decoration: none;
}

.social a svg
{
    width: 30px;
    height: 30px;
}

#up
{ 
    text-decoration: none; 
    position: fixed; 
    bottom: 30px; 
    right: 20px; 
    z-index: 8; 
    width: 40px; 
    height: 40px; 
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300adee' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z'/%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231e5c8a' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z'/%3E%3C/svg%3E"); */
    
    background: var(--white) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231e5c8a' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z'/%3E%3C/svg%3E");
    border-radius: 50%;
    border: 3px solid var(--cyan);
    background-size: cover;
    transition: .5s;
}

#up.active
{
    display: none!important;
}

/* end */