/* обнулення стилів */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root{
    --cyan: #1e5c8a;
    --cyan-dark: #273c66;
    --cyan-light: #00adee;
    /* --cyan-ultralight: #f6faff; */
    /* --cyan-ultralight: #ebf4ff; */
    /* --cyan-ultralight: #f2f7ff; */
    --cyan-ultralight: #f4f6f5;
    --red: #ed1c24;
    --black: #111;
    --gray-light: #e7e7e7;
    --gray: #afafaf;
    --gray-dark: #505050;
    --gray-ultradark: #1f1f1f;
    --white: #fff;
    --gold: #f4bf00;
}

body{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background-attachment: fixed;
    font-weight: 500;
    background: var(--cyan-ultralight);
    color: var(--gray-dark);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
    color: var(--black);
    margin: 0 0 26px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 16px;
}

img{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

::selection{
    background: var(--cyan);
    color: var(--white);
}

strong{
    font-weight: 700;
    color: var(--red);
}

a{
    color: var(--cyan);
    text-decoration: underline;
}

a:hover{
    color: var(--red);
    text-decoration: none;
}

p{
    line-height: 1.6;
    margin: 0 0 26px;
    font-size: 16px;
}

.disabled{
    /* спеціальний клас для елементів, в яких буде відключено анімацію */
    animation-delay: -99s!important;
}






#up{ 
    text-decoration: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 8; 
    width: 40px; 
    height: 40px; 
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300adee' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z'/%3E%3C/svg%3E");
    background-size: cover;

    transition: all 0.5s;
}

#up:hover{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23273c66' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z'/%3E%3C/svg%3E");
}



/* end */