#search
{
    min-height: calc(100vh - 332px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 20px;
    margin: 150px 0 0;
}

#search form 
{
    display: flex;
    gap: 5px;
}

#search ul, 
#search ol 
{
    display: block;
    width: 600px;
    margin: 20px auto 0;
}

@media(max-width:640px)
{
    #search ul, 
    #search ol 
    {
        width: 100%;
    }
}

#search li 
{
    margin: 5px 0;
    /* display: block; */
}

#search p 
{
    margin: 20px 0;
}